/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: "Open Sans", "Trebuchet MS", sans-serif; /*Trebuchet Win:99.67% and Mac:97.12% */
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: "Bree Serif", "Georgia", serif; /*Georgia Win:99.4% and Mac:97.48% */
}

h2 {
  font-size: 200%;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "header header header header header"
        "pairing pairing pairing arial georgia"
        "bobwhite-quail bobwhite-quail readability readability readability"
        "bobwhite-quail bobwhite-quail line-length line-length line-length"
        "typeface typeface typeface helvetica helvetica"
        "typeface typeface typeface . ."
        "footer footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    text-align: center;
    font-size: 150%;
}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding: 1em;
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 1em;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    padding: 2em 2em 6em 2em;
    margin: 0;
    font-size: 150%;
}

#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 2em;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding: 1em;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding: 1em;
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    margin: 3em;
    padding: 1em;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    padding: 2em;
    text-shadow: .1em .1em #708090;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    text-align: center;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
@media screen and (max-width:700px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
      "header header"
      "arial georgia"
      "pairing pairing"
      "bobwhite-quail bobwhite-quail"
      "readability readability"
      "line-length line-length"
      "helvetica helvetica"
      "typeface typeface"
      "footer footer";
  }

  header {
    font-size: 175%;
    padding: 1em;
}

.Diagram-showing-typography-terms {
display:none;
}

#pairing {
  padding: .75em;
}
#bobwhite-quail {
  padding: .75em;
}

#readability {
  padding: .75em;
}

#line-length {
  padding: .75em;
}
  #helvetica {
    margin: 0;
  }

  #typeface {
    padding: .75em;
  }


}
